<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.skynet.SKYNET_PROJECT_NAME.feature-validator</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>SKYNET_SCRIPTS_DIR/feature-validator.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SKYNET_DEV_DIR</key>
    <string>SKYNET_DEV_DIR</string>
  </dict>
  <key>StartInterval</key>
  <integer>7200</integer>
  <key>StandardOutPath</key>
  <string>SKYNET_DEV_DIR/scripts/feature-validator.log</string>
  <key>StandardErrorPath</key>
  <string>SKYNET_DEV_DIR/scripts/feature-validator.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
